@font-face {
  font-family: 'Dosis';
  src: url('~assets/fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: "Dosis", sans-serif;
}
.container {
	width: 95%;
	margin: auto;
}